SERVICE_HOST = "0.0.0.0"
SERVICE_PORT = 62050

RUNTIMED_API_HOST = "0.0.0.0"
RUNTIMED_API_PORT = 62051
# RUNTIMED_EXECUTABLE_PATH = /usr/local/bin/runtimed
# RUNTIMED_ASSETS_PATH = /usr/local/share/runtimed

SSL_CERT_FILE = /var/lib/runtimed-node/ssl_cert.pem
SSL_KEY_FILE = /var/lib/runtimed-node/ssl_key.pem
SSL_CLIENT_CERT_FILE = /var/lib/runtimed-node/ssl_client_cert.pem

### can be rest or rpyc
# SERVICE_PROTOCOL = rpyc

### for developers
# DEBUG = false

### Optional: comma-separated inbound tags to expose (empty = all)
# INBOUNDS = ""
